
notes/__latexindent_temp.tex
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.gz
~$presentation.pptx
labs/lab1/~$results.xlsx
labs/lab1/~$report.docx
*.tmp
presentation/~$presentation_8.c-8.d_luyuliu.pptx
labs/lab1/~$E5194_pytorch_lab1_report.docx
labs/lab2/~$lab2.docx
